.footer {
  background-color: #0a2850;
  box-sizing: border-box;
  color: white;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.footer__circle {
  width: 340px;
  height: 340px;
  border-radius: 100%;
  z-index: 0;
  background-color: #2f80ed;
  position: absolute;
  top: -128px;
  left: -44px;
}
.footer__content {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  z-index: 1;
}
.footer__logo {
  width: 105px;
  height: 39px;
  margin-left: 80px;
}
.footer__social {
  margin-right: 0;
}
.footer__social_content_social {
  margin-left: auto;
  margin-right: 80px;
}
.footer__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center;
  gap: 16px;
}

.footer__social-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer__social-link:hover {
  opacity: 0.7;
}
.footer__social-title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
}
.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 180px 60px 60px 60px;
}
